/*
* This is the main css file of the application
* This file is included in header.php
* You can use this file in every view, in which you include header.php
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}